# ignore ./Hardware/.Xil/*
Hardware/.Xil/

# ignore ./Hardware/*.log
Hardware/*.log

# ignore ./Hardware/build/*
Hardware/build/

# ignore ./vitis_analyzer*
vitis_analyzer*

*.log
*.rpt
*.pb
*.rpv
*.rpx
*.xutil
*.backup.log

# FPGA outputs
*.xclbin
*.xsa
*.mdb
